In [1]:
from sqlalchemy import create_engine, Column, Integer, Float, String
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base

In [15]:
import pandas as pd

In [2]:
engine = create_engine("sqlite:///./resources/data.sqlite")
Base = declarative_base()

In [3]:
class Tv_Show(Base):
    __tablename__ = "tv_show"
    id = Column(Integer, primary_key=True)
    name = Column(String)
    genre = Column(String)
    episodes = Column(Integer)

In [4]:
Base.metadata.create_all(engine)
session = Session(engine)

In [5]:
dogs_with_hats = Tv_Show(name="Dogs With Hats",genre="comedy", episodes=20)
selling_haunted_houses = Tv_Show(name="Selling Haunted Houses", genre="(>^-^)>", episodes=100)
bobs_burgers = Tv_Show(name="Bob's Burgers", genre="animated comedy",episodes=150)

In [6]:
session.new

IdentitySet([])

In [7]:
session.add(dogs_with_hats)
session.add(selling_haunted_houses) 
session.add(bobs_burgers)

In [8]:
session.new

IdentitySet([<__main__.Tv_Show object at 0x7f8c801d3250>, <__main__.Tv_Show object at 0x7f8c801d31f0>, <__main__.Tv_Show object at 0x7f8c801d32b0>])

In [9]:
session.commit()

In [25]:
result_set = engine.execute("SELECT * from tv_show")
keys = result_set.keys()

In [22]:
df = pd.DataFrame(result_set)

   0                       1                2    3
0  1          Dogs With Hats           comedy   20
1  2  Selling Haunted Houses          (>^-^)>  100
2  3           Bob's Burgers  animated comedy  150